<footer class="page-footer">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
          <div class="col-md-6 mt-md-0 mt-3">
            <br>
            <br>
            <br>
            <br>
            <h5 style="color:#bfbfbf">Execution Time:</h5>
          </div>
          <div class="col-md-3 mb-md-0 mb-3">
            <br>
            <h5>Heap Data Structure</h5>
            <br>
            <br>
            <h5 style="color:#bfbfbf">{{heaptime}} ms</h5>
          </div>

          <div class="col-md-3 mb-md-0 mb-3">
            <br>
            <h5>Map Data Structure</h5>
            <br>
            <br>
            <h5 style="color:#bfbfbf">{{maptime}} ms</h5>
          </div>
      </div>
    </div>
  </footer>
