<body>
    <nav class="navbar navbar-expand-lg" style="background: black; color:white; margin-bottom: 0px;">
        <a class="navbar-brand" style="padding: 10px" href="#"><img src="assets/images/cop3530-logo.png" alt="" width="80" height="80"></a>
       
        <div class="container-fluid">
            <h1>National Gun Violence Awareness</h1>
            <h4 style="color:#bfbfbf">Documentation of the instances of Gun Violence in the U.S. during 2013 to 2018</h4>
        </div>
        
    </nav>
    
</body>